In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time 
from sqlalchemy import create_engine
import numpy as np

In [2]:
file_to_load = "list_of_stops.csv"
stops_data = pd.read_csv(file_to_load)
stops_data.head()

,STOP_ID,DIRECTION_ID,STOP_NAME,STATION_NAME,STATION_DESCRIPTIVE_NAME,MAP_ID,ADA,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O,Location
0,30162,W,18th (54th/Cermak-bound),18th,18th (Pink Line),40830,True,False,False,False,False,False,False,False,True,False,"(41.857908, -87.669147)"
1,30161,E,18th (Loop-bound),18th,18th (Pink Line),40830,True,False,False,False,False,False,False,False,True,False,"(41.857908, -87.669147)"
2,30022,N,35th/Archer (Loop-bound),35th/Archer,35th/Archer (Orange Line),40120,True,False,False,False,False,False,False,False,False,True,"(41.829353, -87.680622)"
3,30023,S,35th/Archer (Midway-bound),35th/Archer,35th/Archer (Orange Line),40120,True,False,False,False,False,False,False,False,False,True,"(41.829353, -87.680622)"
4,30214,S,35-Bronzeville-IIT (63rd-bound),35th-Bronzeville-IIT,35th-Bronzeville-IIT (Green Line),41120,True,False,False,True,False,False,False,False,False,False,"(41.831677, -87.625826)"

In [3]:
stops_df = stops_data[["STOP_ID", "STOP_NAME", "STATION_NAME", "STATION_DESCRIPTIVE_NAME", "MAP_ID", "Location"]]
stops_df

,STOP_ID,STOP_NAME,STATION_NAME,STATION_DESCRIPTIVE_NAME,MAP_ID,Location
0,30162,18th (54th/Cermak-bound),18th,18th (Pink Line),40830,"(41.857908, -87.669147)"
1,30161,18th (Loop-bound),18th,18th (Pink Line),40830,"(41.857908, -87.669147)"
2,30022,35th/Archer (Loop-bound),35th/Archer,35th/Archer (Orange Line),40120,"(41.829353, -87.680622)"
3,30023,35th/Archer (Midway-bound),35th/Archer,35th/Archer (Orange Line),40120,"(41.829353, -87.680622)"
4,30214,35-Bronzeville-IIT (63rd-bound),35th-Bronzeville-IIT,35th-Bronzeville-IIT (Green Line),41120,"(41.831677, -87.625826)"
5,30213,35-Bronzeville-IIT (Harlem-bound),35th-Bronzeville-IIT,35th-Bronzeville-IIT (Green Line),41120,"(41.831677, -87.625826)"
6,30246,43rd (63rd-bound),43rd,43rd (Green Line),41270,"(41.816462, -87.619021)"
7,30245,43rd (Harlem-bound),43rd,43rd (Green Line),41270,"(41.816462, -87.619021)"
8,30025,51st (63rd-bound),51st,51st (Green Line),40130,"(41.80209, -87.618487)"
9,30024,51st (Harlem-bound),51st,51st (Green Line),40130,"(41.80209, -87.618487)"
10,30113,54th/Cermak (Loop-bound),54th/Cermak,54th/Cermak (Pink Line),40580,"(41.85177331, -87.75669201)"
11,30114,54th/Cermak (Terminal arrival),54th/Cermak,54th/Cermak (Pink Line),40580,"(41.85177331, -87.75669201)"
12,30192,69th (95th-bound),69th,69th (Red Line),40990,"(41.768367, -87.625724)"
13,30191,69th (Howard-bound),69th,69th (Red Line),40990,"(41.768367, -87.625724)"
14,30047,79th (95th-bound),79th,79th (Red Line),40240,"(41.750419, -87.625112)"
15,30046,79th (Howard-bound),79th,79th (Red Line),40240,"(41.750419, -87.625112)"
16,30089,95th/Dan Ryan (95th-bound),95th/Dan Ryan,95th/Dan Ryan (Red Line),40450,"(41.722377, -87.624342)"
17,30088,95th/Dan Ryan (Howard-bound),95th/Ran Ryan,95th/Ran Ryan (Red Line),40450,"(41.722377, -87.624342)"
18,30132,Adams/Wabash (Inner Loop),Adams/Wabash,"Adams/Wabash (Brown, Green, Orange, Pink & Pur...",40680,"(41.879507, -87.626037)"
19,30131,Adams/Wabash (Outer Loop),Adams/Wabash,"Adams/Wabash (Brown, Green, Orange, Pink & Pur...",40680,"(41.879507, -87.626037)"
20,30277,Addison (Kimball-bound),Addison,Addison (Brown Line),41440,"(41.947028, -87.674642)"
21,30278,Addison (Loop-bound),Addison,Addison (Brown Line),41440,"(41.947028, -87.674642)"
22,30274,Addison (95th-bound),Addison,Addison (Red Line),41420,"(41.947428, -87.653626)"
23,30273,Addison (Howard-bound),Addison,Addison (Red Line),41420,"(41.947428, -87.653626)"
24,30230,Argyle (95th-bound),Argyle,Argyle (Red Line),41200,"(41.973453, -87.65853)"
25,30229,Argyle (Howard-bound),Argyle,Argyle (Red Line),41200,"(41.973453, -87.65853)"
26,30275,87th (Howard-bound),87th,87th (Red Line),41430,"(41.735372, -87.624717)"
27,30127,Armitage (Kimball-Linden-bound),Armitage,Armitage (Brown & Purple Lines),40660,"(41.918217, -87.652644)"
28,30128,Armitage (Loop-bound),Armitage,Armitage (Brown & Purple Lines),40660,"(41.918217, -87.652644)"
29,30205,Ashland (Loop-bound),Ashland,Ashland (Orange Line),41060,"(41.839234, -87.665317)"
...,...,...,...,...,...,...
270,30138,Chicago (Loop-bound),Chicago,Chicago (Brown & Purple Lines),40710,"(41.89681, -87.635924)"
271,30137,Chicago (Kimball-Linden-bound),Chicago,Chicago (Brown & Purple Lines),40710,"(41.89681, -87.635924)"
272,30280,Chicago (95th-bound),Chicago,Chicago (Red Line),41450,"(41.896671, -87.628176)"
273,30279,Chicago (Howard-bound),Chicago,Chicago (Red Line),41450,"(41.896671, -87.628176)"
274,30272,Chicago (Forest Pk-bound),Chicago,Chicago (Blue Line),41410,"(41.896075, -87.655214)"
275,30178,63rd (95th-bound),63rd,63rd (Red Line),40910,"(41.780536, -87.630952)"
276,30177,63rd (Howard-bound),63rd,63rd (Red Line),40910,"(41.780536, -87.630952)"
277,30223,Garfield (Howard-bound),Garfield,Garfield (Red Line),41170,"(41.79542, -87.631157)"
278,30190,Harlem (Forest Pk Branch) (Terminal arrival),Harlem,Harlem (Blue Line - Forest Park Branch),40980,"(41.87349, -87.806961)"
279,30165,H.W. Library (Outer Loop),Harold Washington Library-State/Van Buren,Harold Washington Library-State/Van Buren (Bro...,40850,"(41.876862, -87.628196)"
280,30130,Western (O'Hare Branch) (Forest Pk-bound),Western,Western (Blue Line - O'Hare Branch),40670,"(41.916157, -87.687364)"
281,30289,Lake (Howard-bound),Lake,Lake (Red Line),41660,"(41.884809, -87.627813)"
282,30270,Roosevelt (95th-bound),Roosevelt,"Roosevelt (Red, Orange & Green Lines)",41400,"(41.867368, -87.627402)"
283,30171,O'Hare (Terminal Arrival),O'Hare,O'Hare (Blue Line),40890,"(41.97766526, -87.90422307)"
284,30042,Western (Forest Pk Branch) (O'Hare-bound),Western,Western (Blue Line - Forest Park Branch),40220,"(41.875478, -87.688436)"
285,30043,Western (Forest Pk Branch) (Forest Pk-bound),Western,Western (Blue Line - Forest Park Branch),40220,"(41.875478, -87.688436)"
286,30129,Western (O'Hare Branch) (O'Hare-bound),Western,Western (Blue Line - O'Hare Branch),40670,"(41.916157, -87.687364)"
287,30381,Cermak-McCormick Place (Harlem-bound),Cermak-McCormick Place,Cermak-McCormick Place (Green Line),41690,"(41.853115, -87.626402)"
288,30382,Cermak-McCormick Place (63rd-bound),Cermak-McCormick Place,Cermak-McCormick Place (Green Line),41690,"(41.853115, -87.626402)"
289,30386,Wilson (Linden-bound),Wilson,Wilson (Red & Purple Lines),40540,"(41.964273, -87.657588)"
290,30240,Addison (Forest Pk-bound),Addison,Addison (Blue Line),41240,"(41.94738, -87.71906)"
291,30105,Wilson (Howard-bound),Wilson,Wilson (Red & Purple Lines),40540,"(41.964273, -87.657588)"
292,30384,Washington/Wabash (Inner Loop),Washington/Wabash,"Washington/Wabash (Brown, Green, Orange, Purpl...",41700,"(41.88322, -87.626189)"
293,30122,Clark/Division (95th-bound),Clark/Division,Clark/Division (Red Line),40630,"(41.90392, -87.631412)"
294,30239,Addison (O'Hare-bound),Addison,Addison (Blue Line),41240,"(41.94738, -87.71906)"
295,30106,Wilson (95th-bound),Wilson,Wilson (Red & Purple Lines),40540,"(41.964273, -87.657588)"
296,30383,Washington/Wabash (Outer Loop),Washington/Wabash,"Washington/Wabash (Brown, Green, Orange, Purpl...",41700,"(41.88322, -87.626189)"
297,30385,Wilson (Loop-bound),Wilson,Wilson (Red & Purple Lines),40540,"(41.964273, -87.657588)"
298,30033,Ashland (Harlem-54th/Cermak-bound),Ashland,Ashland (Green & Pink Lines),40170,"(41.885269, -87.666969)"
299,30032,Ashland (Loop-63rd-bound),Ashland,Ashland (Green & Pink Lines),40170,"(41.885269, -87.666969)"

In [4]:
stops_df[["Lat","Lon"]] = stops_df.Location.str.split(",", expand=True,)


stops_df.head()

/Users/thomasghormley/.conda/envs/pandas/lib/python3.6/site-packages/pandas/core/frame.py:3391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

,STOP_ID,STOP_NAME,STATION_NAME,STATION_DESCRIPTIVE_NAME,MAP_ID,Location,Lat,Lon
0,30162,18th (54th/Cermak-bound),18th,18th (Pink Line),40830,"(41.857908, -87.669147)",(41.857908,-87.669147)
1,30161,18th (Loop-bound),18th,18th (Pink Line),40830,"(41.857908, -87.669147)",(41.857908,-87.669147)
2,30022,35th/Archer (Loop-bound),35th/Archer,35th/Archer (Orange Line),40120,"(41.829353, -87.680622)",(41.829353,-87.680622)
3,30023,35th/Archer (Midway-bound),35th/Archer,35th/Archer (Orange Line),40120,"(41.829353, -87.680622)",(41.829353,-87.680622)
4,30214,35-Bronzeville-IIT (63rd-bound),35th-Bronzeville-IIT,35th-Bronzeville-IIT (Green Line),41120,"(41.831677, -87.625826)",(41.831677,-87.625826)

In [5]:
stops_df = stops_df.drop(columns=['Location'])

stops_df.head()

,STOP_ID,STOP_NAME,STATION_NAME,STATION_DESCRIPTIVE_NAME,MAP_ID,Lat,Lon
0,30162,18th (54th/Cermak-bound),18th,18th (Pink Line),40830,(41.857908,-87.669147)
1,30161,18th (Loop-bound),18th,18th (Pink Line),40830,(41.857908,-87.669147)
2,30022,35th/Archer (Loop-bound),35th/Archer,35th/Archer (Orange Line),40120,(41.829353,-87.680622)
3,30023,35th/Archer (Midway-bound),35th/Archer,35th/Archer (Orange Line),40120,(41.829353,-87.680622)
4,30214,35-Bronzeville-IIT (63rd-bound),35th-Bronzeville-IIT,35th-Bronzeville-IIT (Green Line),41120,(41.831677,-87.625826)

In [6]:
stops_df['Lat'] = stops_df.Lat.str.replace("(", "")
stops_df['Lon'] = stops_df.Lon.str.replace(")", "")
stops_df = stops_df.rename(columns={"STOP_ID": "stop_id", "STOP_NAME": "stop_name", "STATION_NAME": "station_name",
                "STATION_DESCRIPTIVE_NAME": "station_descriptive_name", "MAP_ID": "map_id",
                "Lat": "lat", "Lon": "lon"})

In [7]:
stops_df.head()

,stop_id,stop_name,station_name,station_descriptive_name,map_id,lat,lon
0,30162,18th (54th/Cermak-bound),18th,18th (Pink Line),40830,41.857908,-87.669147
1,30161,18th (Loop-bound),18th,18th (Pink Line),40830,41.857908,-87.669147
2,30022,35th/Archer (Loop-bound),35th/Archer,35th/Archer (Orange Line),40120,41.829353,-87.680622
3,30023,35th/Archer (Midway-bound),35th/Archer,35th/Archer (Orange Line),40120,41.829353,-87.680622
4,30214,35-Bronzeville-IIT (63rd-bound),35th-Bronzeville-IIT,35th-Bronzeville-IIT (Green Line),41120,41.831677,-87.625826

In [13]:
rds_connection_string = "postgres:taylormade@localhost:5433/CTA"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [14]:
stops_df.to_sql(name='stops_table', con=engine, if_exists='append', index=False)

In [15]:
pd.read_sql_query('select * from stops_table', con=engine).head()

,stop_id,stop_name,station_name,station_descriptive_name,map_id,lat,lon
0,30162,18th (54th/Cermak-bound),18th,18th (Pink Line),40830,41.857908,-87.669147
1,30161,18th (Loop-bound),18th,18th (Pink Line),40830,41.857908,-87.669147
2,30022,35th/Archer (Loop-bound),35th/Archer,35th/Archer (Orange Line),40120,41.829353,-87.680622
3,30023,35th/Archer (Midway-bound),35th/Archer,35th/Archer (Orange Line),40120,41.829353,-87.680622
4,30214,35-Bronzeville-IIT (63rd-bound),35th-Bronzeville-IIT,35th-Bronzeville-IIT (Green Line),41120,41.831677,-87.625826